@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 6%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 6%;
    --popover-foreground: 0 0% 98%;

    --primary: 263 70% 65%;
    --primary-foreground: 0 0% 100%;

    --secondary: 322 65% 60%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 5% 20%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 24 95% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 10% 15%;
    --input: 240 10% 15%;
    --ring: 263 70% 65%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 6%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 6%;
    --popover-foreground: 0 0% 98%;

    --primary: 263 70% 65%;
    --primary-foreground: 0 0% 100%;

    --secondary: 322 65% 60%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 5% 20%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 24 95% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 10% 15%;
    --input: 240 10% 15%;
    --ring: 263 70% 65%;
    --sidebar-background: 240 10% 6%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 263 70% 65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 5% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 10% 15%;
    --sidebar-ring: 263 70% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Roboto", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }
}
